<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="ISO-8859-1">
    <link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>

    <title>Blog Administration</title>
</head>
<title>HELLO WORLD</title>

<head></head>

<body>
<div class="jumbotron">
    <div class="container">
        <header>
            <h1>Write new Blog Post</h1>
        </header>
        <form method="post" th:action="@{/createBlog}">
            <section id="contribution input">
                <h2>Write new blog</h2>
                <input type="text" th:field="${blog.content}" required/>
            </section>
            <br><br>
            <a href="/blogPosts" type="button" class="btn btn-del btn:hover">Cancel</a>
            <input type="submit" value="Apply" class="btn btn-create btn:hover"/>
        </form>
    </div>
</div>

<script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
</body>
</html>