<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>

    <title>Ultimate Blog</title>
</head>
<body>
<div class="jumbotron">
    <div class="container">
        <div align="center">

            <form action="#" th:action="@{/delete}" method="post">
                <h3>You are deleting</h3>
                <h2 th:text="'First name:  ' + ${user.firstName}"></h2>
                <h2 th:text="'Last name:  ' + ${user.lastName}"></h2>
                <input type="hidden" th:field="${user.userId}"/>
                <input class="btn btn-success btn-lg" type="submit" value="YES"/>
                <a href="/" class="btn btn-danger btn-lg">NO</a>
            </form>

        </div>
    </div>
</div>
<script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
</body>
</html>